.pageOne {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #F8FAFE;
    gap: 20px;
    z-index: -1;
}

.message {
    text-align: center;
    width: 400px;
}