.page {
    width: 1440px;
    margin: 0 auto;
}

.page__section {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.content_margin {
    margin-bottom: 100px;
}

.content__characteristics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.block__header {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.block__selection {
    display: flex;
    gap: 10px;
}

.button-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 80px;
    height: 80px;
    background: none;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.button-img:hover {
    background: #F2F2F2;
}

.button-img:active {
    border: 2px solid #A93A09;
}

.button-img:focus {
    border: 2px solid #F36223;
}

.button-img__picture {
    height: 60px;
}

.button-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: none;
    width: 92px;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.button-row:hover {
    background: #F2F2F2;
}

.button-row:active {
    border: 2px solid #A93A09;
    height: 37px;
    width: 92px;
}

.button-row:focus {
    border: 2px solid #F36223;
    height: 37px;
    width: 92px;
}

.block__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.row-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.row__circle {
    display: flex;
    border-radius: 100%;
    height: 8px;
    content: url(images/Маркер.png);
}

.block__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.paragraph {
    padding: 0;
}

.block-table {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.block-table__header {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.block-table__table {
    border-collapse: collapse;
    border-bottom: 1px solid #888888;
}

.table-compare {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.table-compare__head {
    border: 1px solid #888888;
    padding: 10px;
}

.table-compare__cell {
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    padding: 10px;
}

.table-compare:hover {
    background: #F2F2F2;
}