body {
    background: #F8FAFE;
    margin: 0;
}

main {
    position: relative;
    top: 80px;
}

.page {
    width: 1440px;
    margin: 0 auto;
}

.page__section {
    font-family: Arial, Helvetica, sans-serif;
}

.hat {
    position: fixed;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background: #F8FAFE;
    z-index: 1;
}

.hat__logo {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    height: 80px;
}

.hat__logo-image {
    position: absolute;
    bottom: 25px;
    height: 43px;
}

.hat__logo-text {
    position: absolute;
    left: 50px;
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 44px;
}

.hat__logo-colortext {
    color: #FF5722;
}

.hat__counters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.hat__counter-icons {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.hat__counter-like {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 15px;
    padding: 3px 6px;
    top: 0;
    right: -2px;
    border-radius: 50px;
    background: #F36223;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.hat__counter-product-no {
    position: absolute;
    top: 0;
    right: -2px;
}

.hat__counter-product {
    position: absolute;
    top: 0;
    right: -2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 15px;
    padding: 3px 6px;
    border-radius: 50px;
    background: #F36223;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    gap: 4px;
    font-weight: 400;
}

.breadcrumbs__colorlink {
    font-size: 16px;
    font-weight: 400;
    color: #008CF0;
    text-decoration-line: none;
}

.breadcrumbs__colorlink:hover {
    color: #F36223;
}

.breadcrumbs__colorlink:focus {
    color: #A93A09;
}


@media (max-width: 1499px) {
    .hat {
        width: 1000px;
    }

    .page {
        width: 1000px;
    }

    .phone__img {
        height: 272px;
    }

    .content {
        gap: 40px;
    }

    .block-table {
        display: none;
    }

    .review__photo {
        height: 100px;
    }

    .star {
        height: 20px;
    }

    .block_padding {
        padding: 0;
    }

    .input-review__name {
        width: 337px;
    }

    .input-review__error-name {
        width: 337px;
    }

    .important__basket-button {
        width: 320px;
    }

    .blurb__frame {
        width: 360px;
    }

    .footer__block {
        width: 1000px;
    }

    .important__different {
        width: 320px;
    }
}