.phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.phone__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    padding: 0 0 20px;
}

.phone__image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.phone__img {
    height: 387px;
}

@media (max-width: 1499px) {

    .phone__img {
        height: 272px;
    }
}