.button-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: none;
    width: 92px;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.button-row:hover {
    background: #F2F2F2;
}

.button-row:active {
    border: 2px solid #A93A09;
    height: 37px;
    width: 92px;
}

.button-row__selected {
    border: 2px solid #F36223;
    height: 37px;
    width: 92px;
    border-radius: 4px;
    cursor: pointer;
}