body {
    background: #F8FAFE;
    margin: 0;
}

main {
    position: relative;
    top: 80px;
}

.page {
    width: 1440px;
    margin: 0 auto;
}

.page__section {
    font-family: Arial, Helvetica, sans-serif;
}

.hat {
    position: fixed;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background: #F8FAFE;
    z-index: 1;
}

.hat__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.hat__logo-image {
    height: 43px;
    padding: 0 0 5px;
}

.hat__logo-text {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 44px;
}

.hat__logo-colortext {
    color: #FF5722;
}

.hat__counters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.hat__counter-icons {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.hat__counter-like {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 15px;
    padding: 3px 6px;
    top: 0;
    right: -2px;
    border-radius: 50px;
    background: #F36223;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.hat__counter-product-no {
    position: absolute;
    top: 0;
    right: -2px;
}

.hat__counter-product {
    position: absolute;
    top: 0;
    right: -2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 15px;
    padding: 3px 6px;
    border-radius: 50px;
    background: #F36223;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    gap: 4px;
    font-weight: 400;
}

.breadcrumbs__colorlink {
    font-size: 16px;
    font-weight: 400;
    color: #008CF0;
    text-decoration-line: none;
}

.breadcrumbs__colorlink:hover {
    color: #F36223;
}

.breadcrumbs__colorlink:focus {
    color: #A93A09;
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.phone__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    padding: 0 0 20px;
}

.phone__image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.phone__img {
    height: 387px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.content_margin {
    margin-bottom: 100px;
}

.content__characteristics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.block__header {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.block__selection {
    display: flex;
    gap: 10px;
}

.button-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 80px;
    height: 80px;
    background: none;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.button-img:hover {
    background: #F2F2F2;
}

.button-img:active {
    border: 2px solid #A93A09;
}

.button-img:focus {
    border: 2px solid #F36223;
}

.button-img__picture {
    height: 60px;
}

.button-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: none;
    width: 92px;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.button-row:hover {
    background: #F2F2F2;
}

.button-row:active {
    border: 2px solid #A93A09;
    height: 37px;
    width: 92px;
}

.button-row:focus {
    border: 2px solid #F36223;
    height: 37px;
    width: 92px;
}

.block__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.row-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.row__circle {
    display: flex;
    border-radius: 100%;
    height: 8px;
    content: url(images/Маркер.png);
}

.block__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.paragraph {
    padding: 0;
    text-align: justify;
}

.block-table {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.block-table__header {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.block-table__table {
    border-collapse: collapse;
    border-bottom: 1px solid #888888;
}

.table-compare {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.table-compare__head {
    border: 1px solid #888888;
    padding: 10px;
}

.table-compare__cell {
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    padding: 10px;
}

.table-compare:hover {
    background: #F2F2F2;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 25px;
}

.reviews__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.reviews__text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.reviews__text_grey {
    color: #888888;
}

.reviews__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.review {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}

.review__photo {
    border-radius: 100px;
}

.review__rightcol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.review__name {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.review__stars {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.star {
    height: 30px;
}

.review__information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.separator {
    border-top: 1px dashed #888888;
    align-self: stretch;
    margin-left: 170px;
}

.block_padding {
    padding: 0 0 0 170px;
}

.block__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.fieldset-review {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 0 none;
    margin: 0;
    padding: 0;
}

.fieldset-review__field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.input-review__name {
    height: 48px;
    width: 495px;
    padding: 0 20px;
    border: 1px solid #888888;
    outline: none;
}

.input-review__rating {
    width: 133px;
    height: 48px;
    padding: 0 20px;
    border: 1px solid #888888;
    outline: none;
}

.input-review__name:hover {
    padding: 15px 20px;
    height: 18px;
    border: 1px solid black;
}

.input-review__rating:hover {
    padding: 15px 20px;
    height: 18px;
    border: 1px solid black;
}

.input-review__name:focus {
    border: 1px solid black;
}

.input-review__rating:focus {
    border: 1px solid black;
}

.input-review__error-name-no {
    position: absolute;
    top: 48px;
}

.input-review__error-name {
    width: 495px;
    height: 48px;
    padding: 0 20px;
    background: #DA4A0C;
    border: 1px solid #DA4A0C;
    outline: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
}

.input-review__error-rating-no {
    position: absolute;
    top: 48px;
    right: 0;
}

.input-review__error-rating {
    width: 133px;
    height: 48px;
    padding: 0 20px;
    background: #DA4A0C;
    border: 1px solid #DA4A0C;
    outline: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
}

.textarea-review {
    padding: 15px 20px;
    border: 1px solid #888888;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 19px;
    resize: none;
    outline: none;
}

.textarea-review__error-textarea-review-no {
    position: absolute;
    top: 118px;
}

.textarea-review__error-textarea-review {
    height: 48px;
    padding: 0 20px;
    background: #DA4A0C;
    border: 1px solid #DA4A0C;
    outline: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
}

.textarea-review:hover {
    border: 1px solid black;

}

.textarea-review:focus {
    border: 1px solid black;
}

input::placeholder {
    color: #888888;
}

.reviews__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 39px;
    border-radius: 4px;
    border: 0;
    background: #F36223;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 400;
}

.reviews__button:hover {
    background: #DA4A0C;
}

.reviews__button:hover {
    background: #DA4A0C;
}

.reviews__button:focus {
    background: #A93A09;
}

.content__sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 420px;
}

.important {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    gap: 15px;
}

.important__prise {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.important__different {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 380px;
}

.like {
    height: 30px;
    width: 30px;
    background: #F8FAFE;
}

.like__label {
    cursor: pointer;
}

.like__heart {
    display: none;
}

.like__heart+.like__heart-image {
    height: 30px;
    width: 30px;
    background-image: url(./images/сердечко.svg);
    background-size: contain;
    background-position: center;
}

.like__heart:hover+.like__heart-image {
    background: url(./images/сердечко-красное.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.like__heart:checked+.like__heart-image {
    background: url(./images/сердечко-темно-красное.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.oldprise {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.oldprise__price {
    text-decoration-line: line-through;
    color: #888888;
}

.oldprise__discount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    height: 24px;
    background: #F36223;
    border-radius: 500px;
    color: #FFFFFF;
    text-decoration: none;
}

.newprise {
    font-size: 32px;
}

.important__delivery {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    padding: 0 0 20px;
    gap: 10px;
}

.important__basket-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 64px;
    padding: 20px 19px;
    background: #F36223;
    border: 0;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    gap: 15px;
}

.important__full-basket-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 64px;
    padding: 20px 19px;
    background-color: #888888;
    border: 0;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    gap: 15px;
}

.important__basket-button::before {
    content: url(./images/корзинка.svg);
    padding-top: 5px;
}

.important__basket-button:hover {
    background: #DA4A0C;
}

.important__basket-button:focus {
    background: #A93A09;
}

.important__full-basket-button:hover {
    background-color: #888888;
}

.important__full-basket-button:focus {
    background-color: #888888;
}

.blurb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 14px;
    color: #888888;
    line-height: 17px;
}

.blurb__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.blurb__frame {
    border: 1px dashed #888888;
    width: 420px;
    height: 300px;
}

.footer {
    background: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}

.footer__block {
    margin: 0 auto;
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
}

.footer__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.footer__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #008CF0;
}

@media (max-width: 1499px) {
    .hat {
        width: 1000px;
    }

    .page {
        width: 1000px;
    }

    .phone__img {
        height: 272px;
    }

    .content {
        gap: 40px;
    }

    .block-table {
        display: none;
    }

    .review__photo {
        height: 100px;
    }

    .star {
        height: 20px;
    }

    .block_padding {
        padding: 0;
    }

    .input-review__name {
        width: 337px;
    }

    .input-review__error-name {
        width: 337px;
    }

    .important__basket-button {
        width: 320px;
    }

    .blurb__frame {
        width: 360px;
    }

    .separator {
        margin-left: 130px;
    }

    .footer__block {
        width: 1000px;
    }

    .important__different {
        width: 320px;
    }
}