.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    gap: 5px;
    font-weight: 400;
    cursor: pointer;
}

.breadcrumbs__colorlink {
    font-size: 16px;
    font-weight: 400;
    color: #008CF0;
    text-decoration-line: none;
}

.breadcrumbs__colorlink:hover {
    color: #F36223;
}

.breadcrumbs__colorlink:focus {
    color: #A93A09;
}