.button-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 80px;
    height: 80px;
    background: none;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.button-img:hover {
    background: #F2F2F2;
}

.button-img__selected {
    width: 80px;
    height: 80px;
    border: 2px solid #F36223;
    border-radius: 4px;
    cursor: pointer;
}

.button-img:focus {
    border: 2px solid #A93A09;
}

.button-img__picture {
    height: 60px;
}